{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{{ tittle }}</title>
</head>
<body>
    <header>
        <a href="{% url 'post_home'  %}">Home</a>
        <a href="{% url 'post_about'  %}">About</a>
        <a href="{% url 'post_services'  %}">Services</a>
        <a href="{% url 'create_post'  %}">Create Post</a>
    </header>

    {% block content %}
        
    {% endblock content %}

    {% comment %} <footer>
        &copy zichdan 2023
    </footer> {% endcomment %}
    {% comment %} <script src="{% static 'js/index.js' %}"> {% endcomment %}

    {% comment %} </script> {% endcomment %}
</body>
</html>
