*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: black;
    padding: 20px;
}
.nav-link{
    color: white;
    margin-left: 20px;
}
h1{
    margin: 20px;
}

a{
    text-decoration: none;
}
.post{
    padding: 20px;
}

.image{
    width: 200px;
}

form{
    margin-top: 100px;
    margin: auto;
    width: 50%;
}
.form-control{
    width: 100%;
    font-size: 20px;
}
.form-group{
    margin-top: 10px;
}
.label{
    margin-top: 20px;
}
.btn{
    border: none;
    background-color: aquamarine;
    cursor: pointer;
    color: white;
    padding: 15px;
}
.limk{
    color: black;
    text-decoration: none;
}
.update_link{
    color: brown;
}
