*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: aqua;
    padding: 20px;
}
.nav-link{
    color: white;
    margin-left: 20px;
}
h1{
    margin: 20px;
}

a{
    text-decoration: none;
}
.post{
    padding: 20px;
}

.image{
    width: 200px;
}

form{
    margin-top: 100px;
    margin: 20px;
}


