{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{{ tittle }}</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Zich Tech Blog</a></div>
            </ul class="links">
                <li><a href="{% url 'post_home'  %}">Home</a></li>
                <li><a href="{% url 'post_about'  %}">About</a></li>
                <li><a href="{% url 'post_services'  %}">Services</a></li>
                <li><a href="#">Contact</a></li>

                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'create_post'  %}">CreatePost</a></li>
                    <li><a href="{% url 'log_out'  %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'sign_up'  %}">Signup</a></li>
                    <li><a href="{% url 'login'  %}">Login</a><li>
                {% endif %}
            <ul>    
            <a href="#" class="action_btn">Get Started</a>
        </div>
    </header>

    {% block content %}
        
    {% endblock content %}

    {% comment %} <footer>
        &copy zichdan 2023
    </footer> {% endcomment %}
    {% comment %} <script src="{% static 'js/index.js' %}"> {% endcomment %}

    {% comment %} </script> {% endcomment %}
</body>
</html>
