{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<h1>List of posts</h1>

{% for post in posts  %}
    <div class="post">
        <a href="{% url 'post_detail' post_id=post.id %}" class="link"><h1>{{ post.id }}. {{ post.tittle }}</h1></a>
        <p>By {{ post.content }}</p>
        <img src="{% static 'images/palm oi.png' %}" alt="photo" class="image">
    <div>
{% endfor %}
<div class="pagination">
        
        {% if posts.has_previous %}
            <a href="{% url 'post_home' %}?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}
            
  
    <p>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</p>
    {% if posts.has_next %}
    <a href="{% url 'post_home' %}?page={{ posts.next_page_number }}">Next</a>
{% endif %}
</div>
 
{% endblock content %}
       